@page
@model FinalExam.Pages.ForgotPasswordModel
@{
}
@*                        Main Container                           *@

<div class="container d-flex justify-content-center align-items-center min-vh-90">

	@*                        Login Container                          *@

	<div class="row border rounded-5 p-3 bg-white shadow box-area">
		<label id="messageLabel" class="text-@Model.MessageColor text-center fs-6">@Model.Message</label>

		@*                        Left Box                                 *@
		<div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background-color: #f2f2f2;">

			<div class="featured-image">
				<img src="/images/bg5.png" class="img-fluid" style="width: 600px" />
			</div>

		</div>

		@*                        Right Box                                *@

		<div class="col-md-6 right-box">

			<form method="post">

			<div class="row align-items-center">

				<div class="header-text mb-4">
				<h4>Forgot Password</h4> 
				<p class="fs-6"> Don't worry, we'll help you get back in!</p>
			</div>

				<div class="input-group mb-3">
					<input type="email" class="form-control form-control-lg bg-light fs-6" name="Email" placeholder="Email address" />
				</div>

				<div class="input-group mb-3">
					<button class="btn btn-lg btn-warning w-100 fs-6">Send Link</button>
				</div>


			</div>

			</form>

		</div>

	</div>

</div>